
@{
    Layout = null;
}

<div class="header_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <!-- logo start -->
                <div class="logo"> <a href="/Home/Index"><img src="~/Content/images/logos/it_logo.png" alt="logo" /></a> </div>
                <!-- logo end -->
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <!-- menu start -->
                <div class="menu_side">
                    <div id="navbar_menu">
                        <ul class="first-ul">
                            <li>
                                <a class="active" href="/Home/Index">Acasa</a>
                            </li>
                            <li>
                                <a href="/Service/Index">Servicii</a>
                            </li>
                            <li>
                                <a href="/Admin/Index">Admin Page</a>
                            </li>
                            <li>
                                <a href="/Login/Index">Autentificarea</a>
                            </li>
                            <li>
                                <a href="/Register/Index">Inregistrarea</a>
                            </li>
                        </ul>
                    </div>
                    <div class="search_icon">
                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- menu end -->
            </div>
        </div>
    </div>
</div>
