
@{
    Layout = null;
}

@model WebApplication.Models.userData

<div class="section padding_layout_1 light_silver">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_left">
                        <h2>Experienced Staff</h2>
                        <p class="large">Our experts have been featured in press numerous times.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                var staff = Model.staff;
                foreach (var s in staff)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="full team_blog_colum">
                            <div class="it_team_img"> <img class="img-responsive" src="@s.Image" alt="#"> </div>
                            <div class="team_feature_head">
                                <h4>@s.Name</h4>
                            </div>
                            <div class="team_feature_social">
                                <div class="social_icon">
                                    <ul class="list-inline">
                                        <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                        <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                        <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                        <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                        <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
